dist/*
build/*
cyvlfeat.egg-info/*
.idea/*
*~
*.pyc
*.so

# Let's just ignore all cython built files
cyvlfeat/fisher/cyfisher.c
cyvlfeat/generic/generic.c
cyvlfeat/gmm/cygmm.c
cyvlfeat/hog/cyhog.c
cyvlfeat/kmeans/cykmeans.c
cyvlfeat/quickshift/cyquickshift.c
cyvlfeat/sift/cysift.c
cyvlfeat/vlad/cyvlad.c
*.iml
